certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
requests==2.28.1
urllib3==1.26.12

nltk~=3.7

matplotlib==3.6.0

numpy==1.23.3
pandas==1.5.0
scikit_learn==1.1.2
tabulate==0.8.10
tensorflow==2.8.3
tensorflow_hub==0.12.0
tensorflow_text==2.8.2
tf_models_official==2.7.0
tfds-nightly
openpyxl==3.0.10
pydot==1.4.2
graphviz==0.17